<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Mongo.Connection" value="mongodb://crimcol.myqnapcloud.com:27017"/>
    <add key="Mongo.DabaseName" value="LinkCapture"/>
    <add key="Mongo.TableName" value="urls"/>
    <add key="Casper.PathToJS" value="Scripts\TakeScreenshot.js"/>
    <add key="Casper.ScreenShotFolder" value="..\temp"/>
  
    <add key="Clouddinary.Name" value="dmlke7dxo"/>
    <add key="Clouddinary.ApiKey" value="359384259728433"/>
    <add key="Clouddinary.ApiSecret" value="inMYO1qmZO4wqbXDZ8uPBacmXd0"/>
    <add key="RabbitMQ.Host" value="crimcol.myqnapcloud.com"/>
    <add key="RabbitMQ.QueueName" value="linkShots"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>